<% if user_signed_in? %>
  <h2>こんにちは、<%= current_user.name %> さん</h2>

  <div>
    <%= link_to "新しいタスクを追加", new_task_path %> |
    <%= link_to "タスク一覧詳細へ", tasks_path %>
    <%= link_to "カレンダーを確認", calendar_schedules_path %>
  </div>

  <hr>

  <%# ---タスク状況--- %>

  <h3>現在のタスク状況</h3>

  <div>
    <% if @tasks.any? %>
      <% @tasks.each do |task| %>
        <%# 期限切れ判定 %>
        <% is_overdue = task.deadline.present? && task.deadline < Time.current && !task.is_completed %>
        
        <div style="border: 1px solid #ccc; margin-bottom: 10px; padding: 10px; display: flex; align-items: center;">
          
          <div style="margin-right: 10px;">
            <%= button_to task.is_completed ? "✅" : "⬜️", 
                          toggle_status_task_path(task), 
                          method: :patch %>
          </div>

          <%= link_to task_path(task) do %>
            <span style="<%= 'text-decoration: line-through;' if task.is_completed %> <%= 'color: red;' if is_overdue %>">
              <%= task.title %>
            </span>
            
            <% if task.deadline.present? %>
              <small>
                <% remaining_days = (task.deadline.to_date - Date.current).to_i %>
                <% if is_overdue %>
                  (期限切れ)
                <% elsif remaining_days == 0 %>
                  (今日まで！)
                <% else %>
                  (あと <%= remaining_days %> 日)
                <% end %>
              </small>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>現在登録されているタスクはありません。</p>
    <% end %>
  </div>

  <hr>

  <%# ---今日の予定--- %>
  
  <h3>今日の予定</h3>
  <div>
    <% if @today_schedules.any? %>
      <div style="background-color: #f9f9f9; padding: 10px; border-radius: 5px; margin-bottom: 20px;">
        <% @today_schedules.each do |schedule| %>
          <div style="margin-bottom: 5px;">
            <strong><%= schedule.start_time.strftime("%H:%M") %></strong> : 
            <%= link_to schedule.title, schedule_path(Date.today) %>
          </div>
        <% end %>
        <%= link_to "今日の予定を詳しく見る", schedule_path(Date.today), style: "font-size: 0.8rem;" %>
      </div>
    <% else %>
      <p>今日の予定はありません。</p>
    <% end %>
  </div>


<% else %>
  <h2>Day-Naviへようこそ</h2>
  <p>ご利用にはログインが必要です。</p>
  <%= link_to "新規登録", new_user_registration_path %> |
  <%= link_to "ログイン", new_user_session_path %>
<% end %>