<!DOCTYPE html>
<html>
  <head>
    <title>DayNavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <header class="main-header">
      <div class="header-logo">
        <%= link_to 'Day-Navi', root_path %>
      </div>
      <nav class="header-nav">
        <% if user_signed_in? %>
          <%# ログインしている場合 %>
          <span class="user-name">こんにちは、<%= current_user.name %>さん</span>
          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
        <% else %>
          <%# ログインしていない場合 %>
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        <% end %>
      </nav>
    </header>

    <%# 通知メッセージの表示エリア %>
    <div class="flash-messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>
  </body>
</html>
